body {
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    background-color: lightcyan;
}

.square {
    width: 100px;
    height: 100px;
    font-size: 48px;
    font-weight: bold;
    padding: 2px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid black;
}

.square:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 900px));
    grid-auto-rows: auto;
    place-content: center;
    margin: 50px;
    padding: 20px;
    grid-gap: 20px;
}

.game-container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-auto-rows: auto;
    grid-gap: 20px;
    justify-self: center;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-self: center;
}

.status {
    text-align: center;
    width: 300px;
    padding: 2px;
    justify-self: center;
    border: none;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
}

.game-history {
    height: 300px;
}

.game-title,
.about-me {
    border: none;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 900px;
    padding: 20px;
    margin: 20px;
    justify-self: center;
    font-size: 32px; /* Larger title */
    font-weight: 700;
    color: #37474f;
}

.completed {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 50px;
    margin: 50px;
    padding: 10px;
    justify-self: center;
    font-weight: 700;
    color: #37474f;
}

.completed:hover {
    background-color: lightgreen;
}

@keyframes scalePulse {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

.completed {
    animation: scalePulse 1s infinite;
    transition: transform 0.2s ease-in-out;
}

p {
    font-size: 15px;
}

li {
    list-style-type: none;
}

li > button {
    justify-self: center;
    width: 200px;
    padding: 1px;
    margin: 1px;
    background-color: #ffd54f;
    color: #00000;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition:
        background-color 0.3s,
        transform 0.3s;
}

li > button:hover {
    background-color: lightgreen;
}

@media (max-width: 1000px) {
    /* Adjust breakpoint as needed */
    .container {
        grid-template-columns: 300px; /* one column forces stacking */
        place-self: center;
    }

    .game-container {
        grid-template-columns: 300px; /* one column forces stacking */
        place-self: center;
    }

    .about-me,
    .game-title {
        grid-template-columns: 300px;
        width: 300px; /* one column forces stacking */
        place-self: center;
    }
}
